<div>
	<app-navbar></app-navbar>
</div>

<div class="container mt-5 d-flex">
	<div class="">
		<div>
			<app-sidebar></app-sidebar>
			<mat-divider></mat-divider>
		</div>
		<div class="container">
			<h3>Workspaces</h3>
			<app-expansion></app-expansion>
		</div>
	</div>

	<div class="container">
		<div class="mx-4 Workspace">
			<h2>YOUR WORKSPACES</h2>
			<div class="d-flex justify-content-between">
				<div>
					<h2>Siva's Workspace</h2>
				</div>

				<div class="">
					<button class="border border-0 mx-2" mat-stroked-button>📂 Boards</button>
					<button class="border border-0 mx-2" mat-stroked-button>✔ Views</button>
					<button class="border border-0 mx-2" mat-stroked-button>👩 Members</button>
					<button class="border border-0 mx-2" mat-stroked-button>🔧 Settings</button>
					<button class="border border-0 mx-2" mat-stroked-button>Upgrade</button>
				</div>
			</div>
		</div>
		<app-all-boards></app-all-boards>
	</div>
</div>
