<div *ngFor="let card of cardData">
	<div class="m-5" *ngIf="!card.name"><mat-spinner></mat-spinner></div>
	<div *ngIf="card.name" class="m-2 bg-white rounded">
		<span #idCard class=" " [hidden]="true">{{ card.id }}</span>
		<button type="button" class="btn btn-light w-100 shadow-lg border border-1" (click)="displayItems(idCard.innerText)" data-bs-toggle="modal" data-bs-target="#exampleModal">
			{{ card.name }}
		</button>
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel">Items</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body"> <app-board-titlebar></app-board-titlebar> </div>
					<div class="modal-footer"> </div>
				</div>
			</div>
		</div>
	</div>
</div>
<form (submit)="create(cardName.value)">
	<input type="text" class="m-4" placeholder="+ Add a card" #cardName />
</form>
