<div class="d-flex flex-wrap m-2">
	<div *ngFor="let board of boardsData">
		<div *ngIf="board.name" class="container mt-4">
			<img class="logo" (click)="goToBoardDetails(boardid.innerText)" src="../../assets/ls.jpg" alt="" />
		</div>
		<p class="mx-3 mt-3">{{ board.name }}</p>
		<div *ngIf="!board.name">
			<mat-spinner></mat-spinner>
		</div>
		<p class="mx-3 mt-3 text-white" #boardid>{{ board.id }} </p>
	</div>
	<h2 *ngIf="boardsData.length === 0" class="m-5">You dont have any workspace <span class="text-primary">create new</span></h2>
</div>
<button class="m-5 border border-0" mat-raised-button>View all closed boards</button>
