<mat-selection-list #item>
	<mat-list-option *ngFor="let item of typesOfItems">
		<p class="text-white">{{ item }}</p>
	</mat-list-option>
</mat-selection-list>
<mat-divider></mat-divider>
<mat-selection-list #item>
	<h2 class="text-white">Workspace Views</h2>
	<mat-list-option *ngFor="let item of typesOfItem">
		<p class="text-white">{{ item }}</p>
	</mat-list-option>
</mat-selection-list>
