<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
	<div class="container-fluid">
		<a class="navbar-brand">▦</a>
		<a class="navbar-brand text-primary">TRELLO</a>

		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page">Workspaces ⌄</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page">Recent ⌄</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page">Starred ⌄</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page">Templates ⌄</a>
				</li>
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Create board</button>

				<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h1 class="modal-title fs-5" id="exampleModalLabel">New board name</h1>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<form>
									<div class="mb-3">
										<label for="recipient-name" class="col-form-label">Board name</label>
										<input type="text" class="form-control" id="recipient-name" #boardName />
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary" (click)="createBoard(boardName.value)">create board</button>
							</div>
						</div>
					</div>
				</div>
			</ul>
			<form class="d-flex" role="search">
				<input class="form-control me-2" type="search" placeholder="🔎 Search" aria-label="Search" />
			</form>
			<section>
				<div class="example-button-row">
					<div class="example-flex-container">
						<button mat-icon-button class="bg-white border-0" aria-label="Example icon button with a vertical three dot icon">
							<mat-icon>more_vert</mat-icon>
						</button>
						<button mat-icon-button color="primary" class="bg-white border-0" aria-label="Example icon button with a home icon">
							<mat-icon>home</mat-icon>
						</button>
						<button mat-icon-button color="accent" class="bg-white border-0" aria-label="Example icon button with a menu icon">
							<mat-icon>menu</mat-icon>
						</button>
						<button mat-icon-button color="warn" class="bg-white border-0" aria-label="Example icon button with a heart icon">
							<mat-icon>⍟</mat-icon>
						</button>
						<button mat-icon-button disabled class="bg-white border-0" aria-label="Example icon button with a open in new tab icon">
							<mat-icon>open_in_new</mat-icon>
						</button>
					</div>
				</div>
			</section>
		</div>
	</div>
</nav>
