<mat-accordion>
	<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
		<mat-expansion-panel-header>
			<mat-panel-title> Mount blue </mat-panel-title>
		</mat-expansion-panel-header>

		<mat-selection-list #shoes>
			<mat-list-option *ngFor="let item of typesOfItems">
				<h5>{{ item }}</h5>
			</mat-list-option>
		</mat-selection-list>
	</mat-expansion-panel>
</mat-accordion>
