<button class="btn btn-primary" (click)="getItems()">Get items</button>
<div class="d-flex justify-content-between m-4" *ngFor="let item of itemData">
	<h2>{{ item.name }}</h2>
	<h2 hidden #itemId>{{ item.id }}</h2>
	<button class="btn btn-primary" *ngIf="item.name.length !== 0" (click)="getTasks(itemId.innerText)">GetTasks</button>

	<button class="btn btn-primary" *ngIf="item.name.length !== 0" (click)="delete(itemId.innerText)">delete</button>
</div>
<div *ngFor="let task of tasksData">
	<p hidden #taskId>{{ task.id }}</p>
	<p hidden #taskIdCheck>{{ task.idChecklist }}</p>
	<p *ngIf="task.name.length !== 0"> <input type="checkbox" />{{ task.name }}<button class="bg-white border border-0" (click)="deleteTask(taskIdCheck.innerText, taskId.innerText)">✕</button></p>
</div>
<input type="text" #newTask placeholder="create new task" />
<button class="btn btn-primary" (click)="createTask(newTask.value)">Create task inside an item</button>

<mat-divider></mat-divider>
<input type="text" #newItemName placeholder="create new item" />
<h2 class="btn btn-primary" (click)="create(newItemName.value, newItemName.value)">Create item</h2>
