<div class="body">
	<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">🏠</a>
			<a class="navbar-brand text-white" href="#">TRELLO</a>

			<button
				class="navbar-toggler"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active text-white" aria-current="page">Workspaces ⌄</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active text-white" aria-current="page">Recent ⌄</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active text-white" aria-current="page">Starred ⌄</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active text-white" aria-current="page">Templates ⌄</a>
					</li>
					<button type="button" class="btn btn-primary">create</button>
				</ul>
				<form class="d-flex" role="search">
					<input class="form-control me-2" type="search" placeholder="🔎 Search" aria-label="Search" />
				</form>
			</div>
		</div>
	</nav>

	<div class="d-flex flex-wrap justify-content-between icons">
		<div>
			<button class="btn btn-secondary m-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">></button>
			<button class="border border-0 m-2 icons" mat-stroked-button>Shiva's Workspace</button>
		</div>
		<div class="p-3 icons">
			<button class="border border-0 mx-2 icons" mat-stroked-button>☆ Power ups</button>
			<button class="border border-0 mx-2 icons" mat-stroked-button> ⚡ Automation</button>
			<button class="border border-0 mx-2 icons" mat-stroked-button> Filter</button>
			<button class="border border-0 mx-2 icons" mat-stroked-button>🔧 Settings</button>
			<button class="border border-0 mx-2 icons" mat-stroked-button>Share</button>
		</div>
	</div>
	<div class="offcanvas offcanvas-start workspace" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
		<div class="offcanvas-header">
			<h2 class="offcanvas-title text-white" id="offcanvasScrollingLabel">Shiva's Workspaces</h2>
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<mat-divider></mat-divider>

		<div class="offcanvas-body body">
			<app-board-side-nav></app-board-side-nav>
		</div>
	</div>
	<app-all-list></app-all-list>
</div>
