
.body{
    background-color:#0079BF;
    height: 100%;
}
.workspace{
    background-color: #0079BF;
}
.titlebar{
    background-color: #005C91;
}
.icons{
    background-color: #005C91;
    color: white;
}