<div class="d-flex content">
	<div *ngFor="let list of listData">
		<div *ngIf="!list.name" class="m-5"><mat-spinner></mat-spinner></div>
		<div *ngIf="list.name" class="m-3 bg-white rounded">
			<h2 class="p-4 d-flex justify-content-between"
				>{{ list.name }}
				<button class="border border-0 bg-white" (click)="delete(list.id)"> ❌</button>
			</h2>
			<h6 class="text-white" #listId [hidden]="true">{{ list.id }}</h6>
			<app-check-list [getId]="listId.innerText"></app-check-list>
		</div>
	</div>
	<form (submit)="create(inputName.value)">
		<input class="create m-3" type="text" placeholder="+ Add list" #inputName />
	</form>
</div>
